<app-info-stage-screen *ngIf="infoStage !== null" [text]="infoStage!.text">
</app-info-stage-screen>
<app-picture-picker *ngIf="pictureStage !== null"
                    [referenceImageVisible]="showReference"
                    [referenceImage]="pictureStage!.referenceImage.path"
                    [candidateImagesVisible]="showCandidates"
                    [topCandidate]="pictureStage!.topCandidate.path"
                    [bottomCandidate]="pictureStage!.bottomCandidate.path"
></app-picture-picker>
