.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    background-color: #000000;
    row-gap: 0;
}

.grid-item {
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    padding: 0;
    font-size: 75px;
    text-align: center;
    /*justify-content: center; 
    max-width: 100%;
    max-height: 100%;*/
    aspect-ratio: 1;
    overflow: hidden;
}

article.is-primary {
    background-color: green;
}

article.is-danger {
    background-color: red;
}