<section>
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <div class="box">Выберите тест</div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box button" routerLink="/startCbt">Тест когнитивной склонности</div>
            </div>
            <div class="column">
                <div class="box button" routerLink="/numericTableGame">Таблицы Шульте</div>
            </div>
        </div>
    </div>
</section>